<?xml version="1.0"?>
<PBIWebApp.Properties.Settings>
	<setting name="ClientID" serializeAs="String">
		<value>65e9f31b-5f47-439c-b73b-7ba6a035a2a4</value>
	</setting>
	<setting name="ClientSecret" serializeAs="String">
		<value>m3yf+E2iTuT46cPaACkjAcOjag62X3b8h5PdepqNUUw=</value>
	</setting>
  <!--<setting name="ClientID" serializeAs="String">
    <value>b1902fca-6020-4433-9b56-59b330c03a6d</value>
  </setting>
  <setting name="ClientSecret" serializeAs="String">
    <value>PJ5o0BXj5RGBVdFqcLJ37/vj8ZYLnfEayoZg/AQjG7E=</value>
  </setting>-->
    <setting name="AADAuthorityUri" serializeAs="String">
		<value>https://login.windows.net/common/oauth2/authorize/</value>
	</setting>
	<setting name="PowerBiAPI" serializeAs="String">
		<value>https://analysis.windows.net/powerbi/api</value>
	</setting>
	<setting name="PowerBiDataset" serializeAs="String">
		<value>https://api.powerbi.com/v1.0/myorg/</value>
	</setting>
	<setting name="RedirectUrl" serializeAs="String">
		<value>http://localhost:13526/</value>
	</setting>
</PBIWebApp.Properties.Settings>